<div></div>
<div *ngIf="displayMessage">
  <span class="font-weight-bold text-primary">{{displayMessage}}</span>
</div>
<div class="table-responsive">
        <table class="table table-bordered" *ngIf="persons && persons.length">
          <thead>
            <tr class="bg-primary">
              <th>First Name</th>
              <th>Last Name</th>
              <th>Age</th>
              <th>Favourite Colour</th>
              <th>Hobbies</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let person of persons">
              <td>{{ person.first_name }}</td>
              <td>{{ person.last_name }}</td>
              <td>{{ person.age }}</td>
              <td>{{ person.favourite_colour }}</td>
              <td>{{ person.hobby.join(', ') }}</td>
              <td>
                <button id="edit" class="btn btn-primary" (click)="getPersonById(person)">Edit</button>
                <span class="mr-4"></span> 
                <button id="delete" class="btn btn-danger" (click)="deletePersonById(person)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>